<!DOCTYPE html>
<html>
<head>
    <title>Collision Detection</title>
    <meta http-equiv="refresh" content="3">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2 style="text-align:center;">Collision Alerts</h2>

<table>
    <tr>
        <th>Time</th>
        <th>Animal</th>
        <th>Vehicle</th>
        <th>Event</th>
    </tr>

    {% for e in events %}
    <tr>
        <td>{{ e.time }}</td>
        <td>{{ e.animal }}</td>
        <td>{{ e.vehicle }}</td>
        <td class="alert">{{ e.event }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<div style="text-align:center;">
    <a href="/dashboard">Back</a>
</div>

</body>
</html>
