<!DOCTYPE html>
<html>
<head>
    <title>Video Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="page-container">

<h2 class="section-title">Video Detection</h2>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="video" required>
    <button type="submit">Start Detection</button>
</form>

{% if stream %}
<div class="media-frame">
    <div class="media-inner">
        <img src="{{ url_for('video_feed') }}">
    </div>
</div>
{% endif %}

<a href="/dashboard"><button>Back</button></a>

</body>
</html>
